.container, .loader {
    display: flex;
    justify-content: center;
}

.loader_text {
    align-items: center;
}

.nav {
    padding: 1rem;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid #cacaca;
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    color: #555;
    text-decoration: none;

}

.nav a:hover {
    background-size: 65%;
    background-image:linear-gradient(45deg,#fc6665 0%,#a855b9 35%,#764aed 66%,#00c9d3 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
    top: -5px;
    animation: glow 2.5s linear infinite;
}

@keyframes glow {
    0% {
        background-position: 0 43%;
    }
    50% {
        background-position: 100% 58%;
    }
    100% {
        background-position: 0 43%;
    }
}

@media screen and (max-width: 1090px){
    .nav {
        width: 100%;
    }
    .nav a {
        font-size: 20px;
        justify-content: space-evenly;
    }
    .nav a:hover  {
        background-size: 150%;
    }
}

@media screen and (max-width: 715px){
    .nav {
        flex-direction: column;
        margin-bottom: 10px;
    }

}