@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', cursive;
}

body {
    background-color: #eee;
}

.movies {
    display: grid;
    grid-template-columns: repeat(2, minmax(380px, 1fr));
    grid-gap: 70px;
    width: 80%;
    padding: 70px 50px 50px;
}

.movie {
    padding: 15px;
    background-color: #fff;
    border: 1px solid #eee;
    transition: ease-in-out 0.2s;
    border-radius: 10px;
    margin: 10px;
}

.movie:hover{
    transform: translateY(-7px);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
}

.movie img {
    width: 35%;
    margin: 25px;
}

.movie img, .movie_description {
    vertical-align: top;
}

.movie_title {
    text-align: center;
    font-size: 26px;
    margin-bottom: 0;
}

.movie_description {
    display: inline-block;
    width: 48%;
}

.movie_genres {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.genre {
    margin-right: 10px;
    justify-content: space-between;
    color: gray;
}

a {
    text-decoration: none;
    color: #555;
}

.movie_details {
    text-align: center;
}

.movie_details .movie_genres {
    justify-content: center;
}

.movie_details .movie_summary {
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 1090px){
    .movies {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .movie {
        width: 100%;
        min-width: 500px;
        height: 300px;
    }

    .movie img {
        width: 15%;
        max-height: 150px;
        position: relative;
        top: 0;
        float: left;
    }

    .movie_description {
        margin-left: 1.5rem;
        width: 65%;
    }
}

@media screen and (max-width: 720px){
    .movies {
        padding: 0;
        grid-gap: 0;
    }

    .movie {
        min-width: 100px;
        margin: 10px 0;
        height: auto;
        display: flex;
        justify-content: center;
    }

    .movie img {
        width: auto;
        margin-left: 0 0 0 20px;
        position: relative;
        top: 0;
        float: left;
    }

    .movie_title {
        font-size: 18px;
        align-self: center;
    }

    .movie_description {
        display: none;
    }
}